<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-12 align-center">
                <section class="widget contact last">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/Interpost-101965001208337" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a target="_blank" class="icon fa-envelope" href="mailto:contact@interpost.fr"><span class="label">Contact</span></a></li>
                        <li><a target="_blank" class="fas fa-rss" href="/feed/"></a></li>
                    </ul>
                </section>
            </div>
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Interpost. All rights reserved</li>
                        <li>Design:
                            <a target="_blank" href="http://html5up.net">HTML5 UP</a>
                        </li>
                        <li>
                            <a href="login">Espace rédaction</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>