<div id="header-wrapper" class='shrink'>
    <header
        id="header" class="container">
        <!-- Logo -->
        <div id="logo">
            <h1>
                <a href="/">Interpost</a>
            </h1>
        </div>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/articles/">Articles</a></li>
                <li><a href="/about/">La team</a></li>
            </ul>
        </nav>
    </header>
</div>
<div id="header-gap" class='shrink'></div>